.ListadoInsumos{
  width: 100%;
  background-color: rgb(199, 199, 199);
  display: flex;
  justify-content: center;

  .formTest{
    width: 100%;
    max-width: 860px;
    height: 100vh;

    background-color: #FFF0C8;

    padding: 20px;
  }

}
