.btnAction {
  background-color: rgba(151, 51, 51, 0);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  svg{
    border: 1px solid rgba(80, 80, 80, 0);
    border-radius: 5px;
    // padding: 5px;

  }

  :hover {
    border: 1px solid rgba(80, 80, 80, 0.637);
  }
}
