.Presupuesto-Btn-Group {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  gap: 10px;
}

.TableSection {
  overflow-y: visible;

  .PresupuestoTable {
    font-size: 14px;
    border-collapse: collapse;

    td,
    th {
      // border: 1px solid black;
      padding: 10px 0;
    }
    tr {
      border-bottom: 1px solid var(--TalbeRowColor);
    }
    .rowIcon {
      width: 30px;
      text-align: center;
      .btnAction {
        border: none;
        background: none;
        padding: 3px;
        cursor: pointer;
        :hover {
          border-bottom: 1px solid var(--TitleRowColor);
        }
      }
    }

    .clave {
      width: 60px;
      text-align: center;
    }
    .description {
    }

    .unit {
      width: 60px;
      text-align: center;
    }
    .quantityrfc {
      width: 100px;
      text-align: center;
    }
    .price {
      width: 100px;
      text-align: center;
    }
    .amount {
      width: 100px;
      text-align: center;
    }
    .actions {
      width: 100px;
      text-align: center;
    }

    tr.partida,
    tr.concepto {
      .actions {
        .btnAction {
          border: none;
          background: none;
          padding: 3px;
          cursor: pointer;
          :hover {
            border-bottom: 1px solid var(--TitleRowColor);
          }
        }
      }
    }
  }
}
