.presupuestoInfo {
  width: 185px;
  border-top: 1px solid var(--TitleRowColor);
  color: var(--TextPrimaryColor);
  margin: 0 auto;
  .infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 12px;
    }
    .closeProject {
      padding: 0;
      border: none;
      border-radius: 50%;
      background: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .infoTitle{
    width: 100%;
    text-align: center;
  }
}
