:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  // project styles
  --BgColor:#fafafa;
  --BgAcentColor:#fff;
  --BgFormColor:#4775e8ab;

  --TextPrimaryColor:#3f3f46;
  --TextSecondaryColor:#fff;
  --TextAcentColor:#fff;

  --BtnPrimaryColor:#475be8;
  --BtnDeleteColor:#d80000;
  --BtnEditColor:#0eb400;
  --BtnSaveColor:#34ba31;

  --TalbeRowColor:#c7c7c7;





  // layout dimensions

  --NavbarWidth:210px;
  --NavbarHeight:100vh;
  --MainWidth: calc(100vw - var(--NavbarWidth));
  --MainHeight:100vh;




}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: black;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;

}

#root{
  display: flex;
  flex-direction: row;
}
